@model IEnumerable<PassionProject_AustinCaron_MVP.Models.AnimeDto>
@{
    ViewBag.Title = "Create";
}

<h2 class="form__title">Create Character</h2>
<form action="/Character/Create" method="POST" class="form">
    <div class="form__container">
        <div class="form__wrapper">
            <div class="form__content">
                <label>Character Name</label>
                <input type="text" name="CharacterName" value="" />
            </div>
            <div class="form__content">
                <label>Character Bio</label>
                <textarea name="CharacterBio"></textarea>
            </div>
        </div>
        <div class="form__wrapper">
            <div class="form__content">
                <label>Character Icon</label>
                <input type="text" name="CharacterIcon" value="" />
            </div>
            <div class="form__content">
                <label>Character Image</label>
                <input type="text" name="CharacterImage" value="" />
            </div>
            <div class="form__content">
                <label>Character Background</label>
                <input type="text" name="CharacterBck" value="" />
            </div>
            <div class="form__content">
                <label>Anime</label>
                <select name="AnimeId">
                    @foreach (var anime in Model)
                    {
                        <option value="@anime.AnimeId">@anime.AnimeName</option>
                    }
                </select>
            </div>
        </div>
        <div class="form__wrapper">
            <div class="form__basic">
                <div>
                    <label>Character Age (Years)</label>
                    <input type="number" name="CharacterAge" value="" />
                </div>
                <div>
                    <label>Character Weight (lbs)</label>
                    <input type="number" name="CharacterWeight" value="" />
                </div>
                <div>
                    <label>Character Height <br /> (ft and in)</label>
                    <input type="text" name="CharacterHeight" value="" />
                </div>
                <div>
                    <label>Character Affiliation</label>
                    <input type="text" name="CharacterAffiliation" value="" />
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Add Character" class="form__submit"/>
</form>
<style>
    .form {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
    }

    .form__container {
        display: grid;
        grid-template-columns: repeat(3, 440px [col-start]);
        justify-content: center;
        height: 100%;
        align-items: center;
    }

    .form__wrapper {
        color: white;
        display: flex;
        flex-direction: column;
    }

    .form__wrapper label {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 21px;
    }

    .form__wrapper input, .form__wrapper textarea, .form__wrapper select {
        padding: 10px 8px;
        width: 360px;
        margin-top: 10px;
    }

    .form__wrapper textarea {
        height: 230px;
    }

    .form__content {
        margin: 14px 0;
    }

    .form__content select {
        display: block;
        width: 380px;
        padding: 10px 8px;
    }

    .form__content select, .form__content option {
        font-size: 16px;
    }

    .form__basic {
        display: grid;
        grid-template-columns: repeat(2, 240px [col-start]);
    }

    .form__basic div {
        margin: auto 0 24px 0;
    }

    .form__basic input{
        width: 200px;
    }

    .form__submit {
        position: absolute;
        bottom: 12%;
        left: 50%;
        transform: translate(-12%, -50%);
        padding: 15px 0;
        width: 200px;
        background: transparent;
        border: solid 3px white;
        font-family: "Barlow", sans-serif;
        font-size: 18px;
        color: white;
        cursor: pointer;
    }

    .form__submit:hover {
        background: white;
        border: solid 3px transparent;
        color: black;
        font-weight: 600;
    }
</style>
